/* Your CSS Styling */

/* Sticky footer styles
-------------------------------------------------- */
html,

body {
  /* The html and body elements cannot have any padding or margin. */
  font-family: Arial;
  background-image: url("../images/background.jpg"); no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
}

.content{
  padding-top: 100px;
}


/* Error styles
---------------------------------------------------- */
.error-404-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -285px;
    margin-top: -120px;
}
