{% extends "layout/base.html" %}

{% block header %}
  {{super()}}
   <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
<div class = "container">

  <h1 style="font-family: Georgia">Where do you want to open your new business?</h2> 
  <br><br><br>       
  <form action="/output" method="POST">
        <select name = "cities">
          <option value = "San_Francisco">San Francisco, CA</option>
          <option value = "Los_Angeles">Los Angeles, CA</option>
          <option value = "New_York">New York, NY</option> 
          <option value = "Chicago">Chicago, IL</option> 
          <option value = "Seattle">Seattle, WA</option> 
          <option value = "Boston">Boston, MA</option> 
          <option value = "Oakland">Oakland, CA</option> 
<!--           <option value = "Washington">Washington, D.C.</option> 
          <option value = "Baltimore">Baltimore, MD</option> 
          <option value = "Detroit">Detroit, MI</option>  -->
        </select>

    <br><br><br>
    
    <div>
      <button type="submit" class="btn btn-default btn-lg" id="button1">Let's find out!</button>
    </div>

  </form>
</div>

{% endblock %}

{% block script %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

